<div id="contact-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <address>
                <span class="contact-name">{{ contact.name }}</span><br/>
                {{ contact.email }}<br/>
                {{ contact.phone }}<br/>
                {{ contact.address }}<br/>
            </address>
        </div>
    </div>
</div>

<div id="footer-wrapper">
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                {% include 'menu.inc.html' %}
            </div>
        </div>
    </div>
</div>